:root {
  --black: hsl(60, 33%, 1%);
  --yellow: hsl(47, 100%, 50%);
  --white: hsl(0, 0%, 100%);
  --white-o1: hsla(0, 0%, 100%, 0.95);
  --white-o2: hsla(0, 0%, 100%, 0.85);
  --white-o3: hsla(0, 0%, 100%, 0.5);
}
